[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.1"
python-dotenv = "*"
flask-rebar = "~=2.2"
flask-migrate = "~=3.1"
flask-sqlalchemy = "~=2.5"
psycopg2 = "~=2.9"
marshmallow = "~=3.17.0"
flask-jwt-extended = "*"

[dev-packages]
blue = "*"
flake8 = "*"
pre-commit = "*"
pycodestyle = "*"
pytest-cov = "*"
pytest-flask = "*"

[requires]
python_version = "3.10"
